body {
    background-color: #f7f7fe;
}

nav.nav {
    border-radius: 0 !important;
}

.hero {
    padding: 8rem;
}

#dropdown-basic-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* remove the  default arrow from bootstrap dropdown button*/
#dropdown-basic-button::after {
    content: none;
}

.table-row-dropdown .dropdown-toggle {
    background: none;
    border: none;
}

.table-row-dropdown .dropdown-toggle::after {
    content: none !important;

}

.like,
.unlike,
.bookmark {
    cursor: pointer;
}

.box-shadow {
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%) !important;
}

.nav-pills .nav-link.active {
    background-color: black;
}

.page-link {
    color: black;
    height: 100%;
    width: 100%;
}

.page-item.active .page-link {
    background-color: black;
    border-color: black;
}


.dashboard-nav-item {
    cursor: pointer;
    color: black;
}

.dashboard-nav-item a {
    color: black;
}

.profile-initials {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem
}

.dropdown-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    object-fit: unset;
    border-radius: 50%;
}


.author-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.topic {
    cursor: pointer;
}

ul {
    list-style: none;
}

footer ul {
    width: 100px;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    .logo {
        width: 55px !important;
    }

    .hero {
        padding: 4rem;
    }

    .hero .lead,
    .hero button {
        font-size: 1rem !important;
    }

    .post-preview {
        flex-direction: column;
    }

    .post-preview-image {
        width: 95% !important;
        margin-top: 8px;
    }

    footer>div {
        flex-direction: column;

    }

    footer>div>div {
        margin-top: 15px;
    }
}