nav.nav {
    border-radius: 0 !important;
}

.hero {
    padding: 10rem
}

#dropdown-basic-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* remove the  default arrow from bootstrap dropdown button*/
#dropdown-basic-button::after {
    content: none;
}

.like,
.unlike,
.bookmark {
    cursor: pointer;
}