// $primary: #6B7AA1;
// $secondary: #C1CFC0;
// $success: #3e8d63;
// $info: #7854e4;
// $warning: #b8c924;
// $danger: #d62518;
// $light: #f8f9fa;
// $dark: #11324D;

// @import "~bootstrap/scss/bootstrap.scss";
